
@font-face {
    font-family: 'eraserdust';
    src: url('../eraserdust-p70d-webfont.woff2') format('woff2'),
         url('../eraserdust-p70d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
